@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.css';

@theme {
    --color-primary: #FDC616;
    --color-secondary: #082EB7;
    --font-primary: 'Sansation';
    --animate-dot-1: dot-animation 1s ease-in-out 0s infinite;
    --animate-dot-2: dot-animation 1s ease-in-out 0.1s infinite;
    --animate-dot-3: dot-animation 1s ease-in-out 0.2s infinite;
    --animate-spin-and-pulse: spin-and-pulse 1s linear 0s infinite;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-primary);
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-gray-100);
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}

@keyframes dot-animation {
    0% {
        opacity: 0.8;
        transform: translateY(-2px) scale(1);
    }
    50% {
        opacity: 0.8;
        transform: translateY(2px) scale(0.8);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
        transform: translateY(-2px) scale(1);
    }
}

@keyframes spin-and-pulse {
    0% {
        transform: rotate(0deg);
        opacity: 0.8;
    }
    50% {
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.8;
    }
}